@model IEnumerable<GetProductGroupAgeOutput>

@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
    ViewData["Title"] = "Illuminare Toys - Catálogo - Conheço a Criança - Idades";
    var group = ViewBag.Group as GetGroupOutput;
}

<div class="buttons-container">

    @{
        var currentClass = "";
        var prevClass = "";
    }

    <h3 class="display-5 text-bold">@group.Name</h3>
    @foreach (var item in Model)
    {
        prevClass = currentClass;


        currentClass = CardColorHelper.GetCurrentClass(prevClass, currentClass);

        <a class="button-menu @currentClass"
           asp-action="KnowChildAgesProducts"
           asp-route-groupId="@item.ProductGroup.GroupId"
           asp-route-age="@item.Age.Id">
            <h3 class="button-menu-label">@item.Age.QuantityNormalized</h3>
        </a>
    }
</div>