@model IEnumerable<GetAgeOutput>

@{
    ViewData["Title"] = "Illuminare Toys - Idades";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
    int page = Convert.ToInt32(TempData["page"]);
    string searchTerm = TempData["searchTerm"] as string;
}
<script src="~/js/site.js"></script>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Idades</h3>
            <div class="card-tools">
                <a class="btn btn-primary" onclick="goToCreate()">Nova Idade</a>
            </div>
        </div>
        <div class="card-body table-responsive p-0">
            <table id="table-ages">
                <thead>
                    <tr>
                        <th data-sortable="true">
                            @Html.DisplayNameFor(model => model.QuantityNormalized)
                        </th>
                        <th data-sortable="true">
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </th>
                        <th data-sortable="true">
                            @Html.DisplayNameFor(model => model.UpdatedAt)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.QuantityNormalized)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdatedAt)
                            </td>
                            <td>
                                <a class="btn btn-secondary" onclick="goToEdit('@item.Id')">
                                    <i class="icon fas fa-pen"></i>
                                </a>
                                <button type="button" 
                                        class="btn btn-danger" 
                                        onclick="deleteAge('@item.Id')">
                                    <i class="icon fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    let page = 1;
    let searchTerm = '';

    $(document).ready(function () {
        page = Number('@(page)');

        searchTerm = '@(searchTerm)';

        $('#table-ages').bootstrapTable({
            pagination: true,
            search: true,
            sortable: true,
            locale: 'pt-BR'
        });

        $("#table-ages").on("page-change.bs.table", function (event, pageNumber, pageSize) {
            page = Number(pageNumber);
        });

        $("#table-ages").on("search.bs.table", function (event, text) {
            searchTerm = text;
        });

        goToPageInTable();

        setSearchTerm();
    });

    function deleteAge(ageId) {
        showConfirmDialog('Você tem certeza?', "Esta ação irá excluir a idade selecionada e suas relações com os produtos.", () => {
            showLoading();
            $.post(`/Ages/Delete/${ageId}`)
                .then(r => {
                    location.reload()
                });
        })
    }

    const goToEdit = (id) => {
        window.location = `/Ages/Edit/${id}?page=${page}&searchTerm=${searchTerm}`;
    }

    const goToCreate = () => {
        window.location = `/Ages/Create?page=${page}&searchTerm=${searchTerm}`;
    }

    const goToPageInTable = () => {
        $('#table-ages').bootstrapTable('selectPage', page);
    }

    const setSearchTerm = () => {
        if (searchTerm.length > 0) {
            $('#table-ages').bootstrapTable('resetSearch', searchTerm);
        }
    }
</script>