@model AssociateTagsOutput

@{
    ViewData["Title"] = "Illuminare Toys - Associar Tags";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
    int pageNumber = Convert.ToInt32(TempData["page"]);
    string searchTerm = TempData["searchTerm"] as string;
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Associar Tag ao produto @Model.Product.Description</h3>
            <div class="card-tools">
                <a class="btn btn-primary" 
                   asp-action="Index" 
                   asp-route-page="@pageNumber"
                   asp-route-searchTerm="@searchTerm">Voltar</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <form>
                        <div class="form-group">
                            <label>Tags</label>
                            <select class="form-control" id="select-tags" multiple="multiple">
                                @foreach (var item in Model.Tags)
                                {
                                    if (Model.Product.Tags.Any(x => x.TagId.Equals(item.Id)))
                                    {
                                        <option value="@item.Id" selected>@item.Description</option>

                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Description</option>

                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" id="button-salvar" onclick="saveAssociation('@Model.Product.Id', @Model.Product.BlingId)">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#select-tags').select2();
    });

    const saveAssociation = (id, blingProductId) => {
        showLoading();

        const tagIds = $('#select-tags').val();

        axios.post('/Products/AssociateTags', {
            TagIds: tagIds,
            BlingProductId: blingProductId
        }).then(_ => {
            location.reload()
        })
    }
</script>

<style>
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        color: black;
    }
</style>