@model GetProductOutput
@using IlluminareToys.Domain.Enums;

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@Model.Description</h3>
            <div class="card-tools">
                <a class="btn btn-primary" asp-action="AssociateTags" asp-route-productId="@Model.Id">Associar Tag</a>
            </div>
        </div>
        <div class="card-body">
            <div id="product-container">
                <img class="card-img-top" src="@Model.ImageUrl" id="img-product">
                @if (User.IsInRole(Roles.Admin.ToString()))
                {
                    <form>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file"
                                       accept=".png,.jpg,.jpeg"
                                       class="custom-file-input"
                                       id="input-image"
                                       onchange="addImage('@Model.Id')">
                                <label class="custom-file-label"
                                       for="input-image">Escolher imagem</label>
                            </div>
                        </div>
                    </form>
                }
                <h3>@Model.Code | @Model.Description</h3>
                <div class="badges-product-info">
                    <span class="badge bg-yellow">@Model.CategoryDescription</span>

                    @if (Model.State is "Ativo")
                    {
                        <span class="badge bg-green">@Model.State</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">@Model.State</span>
                    }
                </div>
                <div class="badges-product-tags">
                    @foreach (var tag in Model.Tags)
                    {
                        <span class="badge bg-primary">@tag.Tag.Description</span>
                    }
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div id="div-subtitles">
                <div class="div-subtitle-square bg-yellow m-2"></div>
                <span>Categoria</span>
                <div class="div-subtitle-square bg-primary m-2"></div>
                <span> Tag</span>
            </div>
        </div>
    </div>
</div>

<script>
    const addImage = (productId) => {
        showLoading();

        const file = $('#input-image')[0].files[0]

        var formData = new FormData();
        formData.append('file', file);

        axios.post(`/Products/Image/${productId}`, formData, {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        }).then(_ => {
            location.reload()
        })
    }
</script>

<style>
    #div-subtitles {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
    }

    .div-subtitle-square {
        height: 15px;
        width: 15px;
    }

    #product-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #img-product {
        width: 200px;
        height: 200px;
    }

    #badges-product-info {
        flex-direction: row;
    }

    #badges-product-tags {
        flex-direction: row;
    }
</style>