@model IEnumerable<GetGroupOutput>

@{
    ViewData["Title"] = "Illuminare Toys - Grupos";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}
<script src="~/js/site.js"></script>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Grupos</h3>
            <div class="card-tools">
                <a class="btn btn-primary" asp-action="Create">Novo Grupo</a>
            </div>
        </div>
        <div class="card-body table-responsive p-0">
            <table id="table-groups">
                <thead>
                    <tr>
                        <th data-sortable="true">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th data-width="500" data-field="name">
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th data-sortable="true">
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </th>
                        <th data-sortable="true">
                            @Html.DisplayNameFor(model => model.UpdatedAt)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdatedAt)
                            </td>
                            <td>
                                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">
                                    <i class="icon fas fa-pen"></i>
                                </a>
                                <button type="button" class="btn btn-danger" onclick="deleteGroup('@item.Id')">
                                    <i class="icon fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#table-groups').bootstrapTable({
            pagination: true,
            search: true,
            sortable: true,
            locale: 'pt-BR'
        })
    });

    function deleteGroup(groupId) {
        showConfirmDialog('Você tem certeza?', "Esta ação irá excluir o grupo selecionado e as idades relacionadas a ele.", () => {
            showLoading();
            $.post(`/Groups/Delete/${groupId}`)
                .then(r => {
                    location.reload()
                });
        })
    }
</script>