@model GetTagOutput

@{
    ViewData["Title"] = "Illuminate Toys - Editar Tag";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
    var groups = ViewBag.Groups as IEnumerable<GetGroupOutput>;
    var existingTagsGroups = ViewBag.ExistingTagsGroups as IEnumerable<GetTagGroupOutput>;
    var products = ViewBag.Products as IEnumerable<GetProductsByTagsOutput>;
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Editar @Model.Description</h3>
            <div class="card-tools">
                <a class="btn btn-primary" asp-action="Index">Voltar</a>
            </div>
        </div>
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="card-footer">
        </div>
    </div>

    <div class="card card-fuchsia">
        <div class="card-header">
            <h3 class="card-title">Grupos da Tag</h3>
            <div class="card-tools">
                <button class="btn btn-secondary" onclick="saveGroupAges('@Model.Id')">Salvar Grupos</button>
            </div>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="row">
                    @foreach (var group in groups)
                    {
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">@group.Name</label>
                                @if (existingTagsGroups.Any(x => x.GroupId.Equals(group.Id)))
                                {
                                    <input type="text"
                                           id="@group.Id"
                                           class="form-control group-age"
                                           value="@existingTagsGroups.FirstOrDefault(x => x.GroupId.Equals(group.Id)).Age" />
                                }
                                else
                                {
                                    <input type="text"
                                           id="@group.Id"
                                           class="form-control group-age"
                                           placeholder="Informe a idade" />

                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="card card-fuchsia">
        <div class="card-header">
            <h3 class="card-title">Produtos relacionados</h3>
        </div>
        <div class="card-body">
            <div class="card-body table-responsive p-0">
                <table id="table-products">
                    <thead>
                        <tr>
                            <th data-align="center">
                                Imagem
                            </th>
                            <th>
                                BlingId
                            </th>
                            <th>
                                Código
                            </th>
                            <th>
                                Descrição
                            </th>
                            <th>
                                Categoria
                            </th>
                            <th>
                                Situação
                            </th>
                            <th>
                                Criado em
                            </th>
                            <th>
                                Sincronizado em
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in products)
                        {
                            <tr>
                                <td>
                                    <img src="@item.ImageUrl" class="img-product" />
                                </td>
                                <td>
                                    @item.BlingId
                                </td>
                                <td>
                                    @item.Code
                                </td>
                                <td>
                                    @item.Description
                                </td>
                                <td>
                                    @item.CategoryDescription
                                </td>
                                <td>
                                    @item.State
                                </td>
                                <td>
                                    @item.BlingCreatedAt
                                </td>
                                <td>
                                    @item.SynchronizedAt
                                </td>
                                <td>
                                    <a class="btn btn-primary" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
                                        <i class="icon fas fa-eye"></i>
                                    </a>
                                    <a class="btn btn-secondary" asp-controller="Products" asp-action="AssociateTags" asp-route-productId="@item.Id">
                                        <i class="icon fas fa-project-diagram"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#table-products').bootstrapTable({
            pagination: true,
            search: true,
            sortable: true,
            locale: 'pt-BR'
        })
    });

    const saveGroupAges = (tagId) => {
        showLoading();

        const inputsGroups = $('.group-age');

        const body = {
            tagsGroups: []
        };

        for (let i = 0; i < inputsGroups.length; i++) {
            body.tagsGroups.push({
                tagId,
                groupId: inputsGroups[i].id,
                age: inputsGroups[i].value
            });
        }

        axios.post('/TagsGroups', body)
            .then(_ => {
                location.reload()
            })
    }

</script>

<style>
    .img-product {
        width: 50px;
        height: 50px;
    }
</style>