@model IEnumerable<GetTagOutput>

@{
    ViewData["Title"] = "Illuminare Toys - Tags";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}
<script src="~/js/site.js"></script>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Tags</h3>
            <div class="card-tools">
                <a class="btn btn-primary" asp-action="Create">Nova Tag</a>
            </div>
        </div>
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UpdatedAt)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdatedAt)
                            </td>
                            <td>
                                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">
                                    <i class="icon fas fa-pen"></i>
                                </a>
                                <button type="button" class="btn btn-danger" onclick="deleteTag('@item.Id')">
                                    <i class="icon fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function deleteTag(tagId) {
        showConfirmDialog('Você tem certeza?', "Esta ação irá excluir a tag selecionada e desassociar os produtos relacionados a ela.", () => {
            showLoading();
            $.post(`/Tags/Delete/${tagId}`)
                .then(r => {
                    location.reload()
                });
        })
    }
</script>